.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  transition: all 1s ease-in-out;
min-height: 300px;
}
.row-dir{
  flex-direction: row;
}
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}
ul{
}
.header nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.header nav a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #007bff;
} 